html {
  padding: 0;
  margin: 0;
}

body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  color: #000;
  background-color: #121212;
  height: 100%;
  width: 100%;
}

:root {
  --white: #fff;
  --black: #000;
  --gray: #2b3c56;
  --lite: #f1f1f1;
  --dark: #1d1e22;

  --yellow: #f5b409;
  --red: #f33e5d;
  --green: #9bd846;
  --blue: #029ef6;
  --orange: #ee712f;
  --pink: #ef5890;

  --primary: #5487fa;
  --primary_dark: ;
  --primary_lite: #e4ecfe;

  --secondary: ;
  --secondary_dark: ;
  --secondary_lite: ;
}

.dark-mode {
  background-color: #f9fafb;
  color: #000;
}

.navbar {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background: rgba(0, 0, 0, 0.8);
  backdrop-filter: blur(10px);
  color: white;
  padding: 20px 0px;
  z-index: 1000;
}

.dark-mode .navbar {
  background: rgba(255, 255, 255, 0.8);
  color: black;
}

.navbar .brand {
  font-size: 24px;
  font-weight: bold;
  cursor: pointer;
  margin-left: 20px;
}

.navbar .nav-right {
  display: flex;
  align-items: center;
  margin-right: 20px;
}

.navbar .nav-links {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-right: 20px;
}

.navbar .nav-links a {
  text-decoration: none;
  color: inherit;
  padding: 8px 15px;
  border-radius: 8px;
  transition:
    background-color 0.3s ease,
    color 0.3s ease;
  font-weight: 500;
}

.navbar .nav-links a:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.dark-mode .navbar .nav-links a:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.navbar .dark-mode-toggle {
  cursor: pointer;
  padding: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  transition: background-color 0.3s ease;
}

.navbar .dark-mode-toggle:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.dark-mode .navbar .dark-mode-toggle:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.navbar .hamburger-menu {
  display: none;
  flex-direction: column;
  justify-content: space-around;
  width: 24px;
  height: 24px;
  cursor: pointer;
  margin-left: 15px;
}

.navbar .hamburger-menu div {
  width: 100%;
  height: 3px;
  background: white;
  border-radius: 2px;
  transition: all 0.3s ease;
}

.dark-mode .navbar .hamburger-menu div {
  background: black;
}

@media (max-width: 768px) {
  .navbar .nav-links {
    display: none;
    position: absolute;
    top: 70px;
    right: 20px;
    background-color: rgba(0, 0, 0, 0.95);
    flex-direction: column;
    width: 150px;
    border-radius: 10px;
    padding: 10px 0;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
    margin-right: 0;
  }

  .navbar .nav-links.show {
    display: flex;
  }

  .dark-mode .navbar .nav-links {
    background-color: rgba(255, 255, 255, 0.95);
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
  }

  .navbar .nav-links a {
    padding: 12px 20px;
    border-radius: 0;
    width: 100%;
    box-sizing: border-box;
    text-align: center;
  }

  .navbar .hamburger-menu {
    display: flex;
  }
}

.wrapper {
  height: auto;
  background-color: #121212;
}

.dark-mode .wrapper {
  background-color: #f0f4f8;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
  padding: 20px;
}

.more_details {
  text-decoration: none;
  color: blue;
}

.more_details p:hover {
  color: rgb(0, 0, 255);
}

.hostel_details {
  padding: 20px;
  max-width: 800px;
  margin: auto;
  background-color: #202020;
  color: white;
  border-radius: 10px;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
}

.dark-mode .hostel_details {
  background-color: #f9fafb;
  color: #000000;
}

.hostel_details img {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

.hostel_details h1 {
  margin: 0 0 10px;
  font-size: 6vw;
}

.hostel_details p {
  margin: 10px 0;
  font-size: x-small;
}

.top {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.back_link {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
}

.back_link:hover {
  background-color: #0056b3;
}

.image-gallery {
  display: flex;
  flex-direction: row;
  align-items: center;
  overflow-x: auto;
  gap: 10px;
  background: transparent;
  border-radius: 10px 10px 0 0;
  /* margin-bottom: 20px; */
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
}

.image-gallery img,
.image-gallery video {
  width: 100%;
  height: 60vw;
  min-width: none;
  max-width: 500px;
  min-height: 200px;
  max-height: 350px;
  object-fit: cover;
  border-radius: 10px 10px 0 0;
  flex-shrink: 0;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
}

.image-gallery::-webkit-scrollbar {
  display: none;
}

.image-gallery {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

#hostelName {
  display: flex;
  align-items: center;
  grid-column: span 3;
}

/* .success-checkmark {
  display: inline-block;
  position: relative;
  width: 20px;
  height: 20px;
}

.success-checkmark:after {
  content: "✔";
  position: absolute;
  left: 0;
  top: 0;
  width: 20px;
  height: 20px;
  text-align: center;
  background-color: transparent;
  border-radius: 50%;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3);
  color: white;
}

.dark-mode .success-checkmark:after {
  border-color: black;
  color: black;
  box-shadow: inset 0 1px 3px rgba(255, 255, 255, 0.3);
}

.crosssign {
  display: inline-grid;
  text-align: center;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: white solid 1px;
  background-color: transparent;
}

.crosssign::before {
  content: "\D7";
  color: #fff;
  font-weight: bold;
  font-size: 16px;
}

.dark-mode .crosssign {
  border-color: black;
}

.dark-mode .crosssign::before {
  color: black;
} */

.location {
  position: relative;
  width: 50px;
  height: 50px;
  cursor: pointer;
  margin-left: auto;
}

.icon {
  position: relative;
  width: 20px;
  height: 9px;
  background-color: red;
  border-top-left-radius: 100px;
  border-top-right-radius: 100px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  z-index: 9;
}

.icon::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 20px solid red;
  z-index: 10;
}

.icon::before {
  content: "";
  position: absolute;
  top: 85%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 8px;
  height: 8px;
  background-color: #202020;
  border: none;
  border-radius: 50%;
  z-index: 11;
}

.dark-mode .icon::before {
  background-color: #f9fafb;
}

.link-icon {
  position: absolute;
  top: -5px;
  /* right: 18px; */
  left: 10px;
  width: 20px;
  height: 20px;
  z-index: 14;
}

.segment {
  width: 15px;
  height: 10px;
  border: 2px solid;
  border-radius: 5px;
  box-sizing: border-box;
  background-color: transparent;
  position: absolute;
}

.first-segment {
  border-color: rgb(0, 110, 255);
  transform: rotate(-30deg);
  top: 2px;
  left: -3px;
}

.second-segment {
  border-color: rgb(0, 170, 255);
  transform: rotate(50deg);
  top: 5px;
  left: 3px;
}

.success-checkmark,
.crosssign {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 0 0.8px 0;
  width: 22px; /* Fixed width */
  height: 22px; /* Fixed height */
  color: rgba(255, 255, 255);
  background-color: transparent;
  border-radius: 50%;
  border: 2px solid #ffffff;
  font-weight: bold;
  overflow: hidden; /* Prevents content from overflowing */
  box-sizing: border-box; /* Ensures padding and border are included in the element's size */
}

.success-checkmark::after,
.crosssign::before {
  font-size: 15px;
}

.success-checkmark::after {
  content: "\2714";
  color: lime;
}

.crosssign::before {
  content: "\2716";
  color: red;
}

.dark-mode .success-checkmark,
.dark-mode .crosssign {
  color: black;
  border-color: rgba(0, 0, 0);
}

.amenities h2 {
  margin: 0 0 10px 0;
  font-size: 3.5vh;
  color: #ffffff;
}

.main {
  position: relative;
  bottom: -10px;
  margin: 0;
  font-size: 5vh;
}

.common_details,
.single_room,
.shared_room {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  padding: 10px 20px;
  border-radius: 10px;
  background-color: #333333;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
}

.dark-mode :is(.common_details, .single_room, .shared_room) {
  background-color: #e0e0e0;
}

.amenities-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.not_available {
  text-align: center;
  font-size: 18px;
  color: #bcbcbc;
  padding: 15px;
  grid-column: span 4;
}

.common_details .amenities-grid {
  margin-top: 0;
  gap: 20px;
}

.dark-mode .amenities h2 {
  color: #000000;
}

.amenity {
  display: grid;
  grid-template-columns: 1fr 5fr;
}

.amenity p {
  margin: 0;
  display: grid;
  align-items: center;
  color: #ffffffe7;
  font-size: 1.7vh;
  font-weight: 900;
}

.dark-mode .amenity p {
  color: #000000;
}

.amenity div {
  margin-right: 10px;
}

.hostel_details .price {
  margin-top: 0;
  position: relative;
  top: -10px;
  left: 3px;
}

.hostel_details .price_text {
  top: 10px;
  font-weight: normal;
  font-size: 13px;
  color: #ccc;
}

.dark-mode .hostel_details .price_text {
  color: #000000bb;
}

/* .success-checkmark {
  width: 20px;
  height: 20px;
  color: white;
  background-color: transparent;
  border-radius: 50%;
  border: 2px solid #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}

.dark-mode .success-checkmark {
  color: black;
  border-color: black;
}

.crosssign {
  width: 20px;
  height: 20px;
  color: white;
  background-color: transparent;
  border-radius: 50%;
  border: 2px solid #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}

.dark-mode .crosssign {
  color: black;
  border-color: black;
} */

.box_same {
  height: 300px;
  width: auto;
}

.NA {
  height: 100px;
}

.dots {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  padding: 4px 0;
  width: 100%;
  background-color: #333333;
  gap: 10px;
}

.dark-mode .dots {
  background-color: #e0e0e0;
}

.dot {
  width: 5px;
  height: 5px;
  background-color: white;
  border-radius: 50%;
}

.dark-mode .dot {
  background-color: rgb(0, 0, 0);
}

/* #hostelDetailsContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  max-width: 500px;
  margin: auto;
  padding: 20px;
  color: #ffffff;
}

#hostelDetailsContainer p {
  margin: 0;
  font-weight: 400;
  line-height: 1.4;
  text-align: center;
}*/

.main-top {
  padding: 10px 20px;
  border-radius: 0 0 10px 10px;
  background-color: #333333;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
}

.dark-mode .main-top {
  background-color: #e0e0e0;
}

.sub-top {
  /* grid-column: span 4; */
  display: grid;
  grid-template-columns: 1fr 1fr;
  position: relative;
  top: -20px;
}

#hostelPrice {
  font-size: 16px;
  font-weight: 700;
  color: #ffffff;
}

.dark-mode #hostelPrice {
  color: #000000;
}

#hostelGender {
  background-color: #444444;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 15px;
  font-weight: 500;
  text-transform: capitalize;
  color: #ffffff;
  margin-left: auto;
}

.dark-mode #hostelGender {
  background-color: #cdcdcd;
  color: #000000;
}
/*
#hostelDeposit {
  font-size: 1.3rem;
  color: #ffffff;
}

#hostelDistance {
  font-size: 1.1rem;
  font-style: italic;
  color: #ffffff;
}

#hostelGender {
  font-size: 1.2rem;
  font-weight: 500;
  text-transform: capitalize;
  color: #ffffff;
}

.dark-mode #hostelDetailsContainer p {
  color: #000000;
} */

.info-container {
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-color: #333; */
  padding: 10px 0px;
  border-radius: 8px;
}

.fee,
.distance {
  font-size: 13px;
  color: #f0f0f0;
}

.extra-fee {
  display: none;
}

.fee span,
.distance span {
  font-weight: normal;
  margin: 0 3px;
  color: #ccc;
}

.fee .food .plus {
  margin: 0;
  margin-right: 7px;
}

.food {
  display: none;
}

.separator {
  width: 2px;
  height: 30px;
  background-color: #ffffffbe;
  margin: 0 15px;
}

.dark-mode .fee,
.dark-mode .distance {
  font-size: 16px;
  color: #000000;
}

.dark-mode .fee span,
.dark-mode .distance span {
  font-weight: normal;
  margin-left: 5px;
  color: #0000007f;
}

.dark-mode .separator {
  background-color: #000000be;
}

.distance strong {
  font-weight: bold;
}

.contact {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 0px;
  border-radius: 8px;
  font-size: 13px;
}

.avail_top {
  margin: 2vh 0;
}

.contact a {
  text-decoration: none;
  color: #ffffff;
}

.dark-mode .contact a {
  color: #000;
}

.contact span,
.call {
  font-weight: normal;
  margin-right: 5px;
  color: #ccc;
}

.call {
  display: flex;
  justify-content: center;
  position: relative;
  top: -10px;
  font-size: 10px;
  font-style: italic;
}

.dark-mode .contact span,
.dark-mode .call {
  color: #0000007f;
}

.contact_no {
  font-weight: bold;
  color: #000;
}

table {
  margin: auto;
  width: 100%;
  overflow: hidden;
  background-color: #333333;
  border-radius: 10px;
  position: relative;
  border-collapse: collapse;
  z-index: 1;
  color: var(--white);
  white-space: nowrap;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
}

.dark-mode table {
  background-color: #e0e0e0;
  color: black;
}

tbody tr:not(:last-child) {
  border-bottom: 2px solid rgba(255, 255, 255, 0.2);
}

tbody td:not(:last-child) {
  border-right: 2px solid rgba(255, 255, 255, 0.2);
}

tbody th:not(:last-child) {
  border-right: 2px solid rgba(255, 255, 255, 0.2);
}

.dark-mode tbody tr:not(:last-child) {
  border-color: rgba(0, 0, 0, 0.2);
}

.dark-mode tbody td:not(:last-child) {
  border-color: rgba(0, 0, 0, 0.2);
}

.dark-mode tbody th:not(:last-child) {
  border-color: rgba(0, 0, 0, 0.2);
}

th,
td {
  padding: 1rem;
  gap: 10px;
  position: relative;
  cursor: default;
}

td:last-child:hover a {
  color: var(--black);
}

thead {
  background-color: var(--primary_lite);
}

th {
  text-transform: uppercase;
}

td img {
  width: 11px;
  height: 11px;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 5px;
}

tr td:last-child,
tr td:nth-last-child(2),
tr td:nth-last-child(3),
tr td:nth-last-child(4),
tr td:nth-last-child(6),
tr td:nth-last-child(7),
tr td:nth-last-child(8),
tr td:nth-last-child(9) {
  text-align: center;
}

td:hover {
  background-color: #4a4a4a;
}

td:last-child:hover:after {
  position: absolute;
  width: fit-content;
  left: -10%;
  top: -40%;
  transform: translate(0%, 50%);
  font-size: 12px;
  color: white;
  background-color: var(--dark);
  box-shadow:
    rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px,
    rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px,
    rgba(0, 0, 0, 0.09) 0px -3px 5px;
  border-radius: 5px;
  padding: 2px 4px;
  z-index: 9;
}

table a {
  color: white;
}

@media (min-width: 768px) {
  .amenities-grid {
    grid-template-columns: repeat(3, 1fr);
  }

  .hostel_details .main-top h1 {
    font-size: 3vw;
  }

  .location {
    left: 0px;
  }
}
.gallery-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  overflow: hidden;
}

/* Image scrolling section */
.image-gallery {
  display: flex;
  overflow-x: auto;
  scroll-behavior: smooth;
  scrollbar-width: none;
}

.image-gallery::-webkit-scrollbar {
  display: none;
}

/* Scroll buttons */
.scroll-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-10%);
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 30px;
  padding: 10px;
  font-size: 1.8rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
  -webkit-transform: translateY(-10%);
  -moz-transform: translateY(-10%);
  -ms-transform: translateY(-10%);
  -o-transform: translateY(-10%);
}

.scroll-btn:hover {
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
}

.scroll-btn.left {
  left: 5px;
}

.scroll-btn.right {
  right: 5px;
}

/* Medium screens and up */
@media (min-width: 768px) {
  .scroll-btn {
    font-size: 2.2rem;
    padding: 10px 14px;
  }

  .scroll-btn.left {
    left: 20px;
  }

  .call {
    display: flex;
    justify-content: center;
    position: relative;
    top: -10px;
    font-size: 10px;
    font-style: italic;
  }

  .dark-mode .contact span,
  .dark-mode .call {
    color: #0000007f;
  }

  .contact_no {
    font-weight: bold;
    color: #000;
  }

  table {
    margin: auto;
    width: 100%;
    overflow: hidden;
    background-color: #333333;
    border-radius: 10px;
    position: relative;
    border-collapse: collapse;
    z-index: 1;
    color: var(--white);
    white-space: nowrap;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
  }

  .dark-mode table {
    background-color: #e0e0e0;
    color: black;
  }

  tbody tr:not(:last-child) {
    border-bottom: 2px solid rgba(255, 255, 255, 0.2);
  }

  tbody td:not(:last-child) {
    border-right: 2px solid rgba(255, 255, 255, 0.2);
  }

  tbody th:not(:last-child) {
    border-right: 2px solid rgba(255, 255, 255, 0.2);
  }

  .dark-mode tbody tr:not(:last-child) {
    border-color: rgba(0, 0, 0, 0.2);
  }

  .dark-mode tbody td:not(:last-child) {
    border-color: rgba(0, 0, 0, 0.2);
  }

  .dark-mode tbody th:not(:last-child) {
    border-color: rgba(0, 0, 0, 0.2);
  }

  th,
  td {
    padding: 1rem;
    gap: 10px;
    position: relative;
    cursor: default;
  }

  td:last-child:hover a {
    color: var(--black);
  }

  thead {
    background-color: var(--primary_lite);
  }

  th {
    text-transform: uppercase;
  }

  td img {
    width: 11px;
    height: 11px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 5px;
  }

  tr td:last-child,
  tr td:nth-last-child(2),
  tr td:nth-last-child(3),
  tr td:nth-last-child(4),
  tr td:nth-last-child(6),
  tr td:nth-last-child(7),
  tr td:nth-last-child(8),
  tr td:nth-last-child(9) {
    text-align: center;
  }

  td:hover {
    background-color: #4a4a4a;
  }

  td:last-child:hover:after {
    position: absolute;
    width: fit-content;
    left: -10%;
    top: -40%;
    transform: translate(0%, 50%);
    font-size: 12px;
    color: white;
    background-color: var(--dark);
    box-shadow:
      rgba(0, 0, 0, 0.25) 0px 54px 55px,
      rgba(0, 0, 0, 0.12) 0px -12px 30px,
      rgba(0, 0, 0, 0.12) 0px 4px 6px,
      rgba(0, 0, 0, 0.17) 0px 12px 13px,
      rgba(0, 0, 0, 0.09) 0px -3px 5px;
    border-radius: 5px;
    padding: 2px 4px;
    z-index: 9;
  }

  table a {
    color: white;
  }

  @media (min-width: 768px) {
    .amenities-grid {
      grid-template-columns: repeat(3, 1fr);
    }

    .hostel_details .main-top h1 {
      font-size: 3vw;
    }

    .location {
      left: 0px;
    }
  }
  .gallery-wrapper {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    overflow: hidden;
  }

  /* Image scrolling section */
  .image-gallery {
    display: flex;
    overflow-x: auto;
    scroll-behavior: smooth;
    scrollbar-width: none;
  }

  .image-gallery::-webkit-scrollbar {
    display: none;
  }

  /* Scroll buttons */
  .scroll-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-10%);
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 30px;
    padding: 10px;
    font-size: 1.8rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
    -webkit-transform: translateY(-10%);
    -moz-transform: translateY(-10%);
    -ms-transform: translateY(-10%);
    -o-transform: translateY(-10%);
  }

  .scroll-btn:hover {
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
  }

  .scroll-btn.left {
    left: 5px;
  }

  .scroll-btn.right {
    right: 5px;
  }

  /* Medium screens and up */
  @media (min-width: 768px) {
    .scroll-btn {
      font-size: 2.2rem;
      padding: 10px 14px;
    }

    .scroll-btn.left {
      left: 20px;
    }

    .scroll-btn.right {
      right: 20px;
    }
  }

  /* Image Modal Styles */
  .modal {
    display: none;
    position: fixed;
    z-index: 2000;
    padding-top: 50px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.9);
  }

  .modal-content {
    margin: auto;
    display: block;
    max-width: 80%;
    max-height: 80vh;
    width: auto;
    height: auto;
    border-radius: 8px;
    object-fit: contain;
    transition: transform 0.3s ease;
    cursor: zoom-in;
    animation-name: zoom;
    animation-duration: 0.3s;
  }

  .modal-content.zoomed {
    transform: scale(1.5);
    cursor: zoom-out;
  }

  @keyframes zoom {
    from {
      transform: scale(0);
    }
    to {
      transform: scale(1);
    }
  }

  .close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
    z-index: 2001;
  }

  .close:hover,
  .close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
  }

  @media only screen and (max-width: 700px) {
    .modal-content {
      max-width: 95%;
    }
  }
}
